In [1]:
import pandas as pd
import numpy as np
import scipy.stats as sps
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as skl
from sklearn import preprocessing
import datetime as dt

In [70]:
%time
file = 'card transactions.xlsx'
myData = pd.read_excel(file)

CPU times: user 3 µs, sys: 1e+03 ns, total: 4 µs
Wall time: 6.91 µs

# Fill up missing value

## Merch zip

### group by Merch state

In [123]:
attribute = 'Merch zip'

print('Describe')
print(myData[attribute].describe())

print('Value Counts')
print(myData[attribute].value_counts().index[0:6])

print('Null Value Number Counts')
print(myData[attribute].isnull().sum())

Describe
count    96299.000000
mean     44266.221124
std      28412.118931
min          1.000000
25%      20852.000000
50%      38118.000000
75%      63103.000000
max      99999.000000
Name: Merch zip, dtype: float64
Value Counts
Float64Index([38118.0, 22202.0, 63103.0, 30091.0, 60061.0, 8701.0], dtype='float64')
Null Value Number Counts
454

In [124]:
valid_index = myData[myData[attribute].isnull() == False].copy()
print('Null Value Number Counts')
print(myData[attribute].isnull().sum())

Null Value Number Counts
454

In [125]:
def f_mode (x):
    return x.value_counts().index[0]

valid_dataframe = valid_index[[attribute, 'Merch state']].copy()
temp = valid_dataframe.groupby(['Merch state']).agg(f_mode).copy()
temp.head(5)

             Merch zip
Merch state
005            48602.0
016            48602.0
022            48602.0
040            48602.0
042            48602.0

In [126]:
for i in myData[myData[attribute].isnull() == True].index:
    try:
        temp_Merch_state = myData.loc[i,'Merch state']
        myData.loc[i, attribute] = temp.loc[temp_Merch_state,attribute]
    except:
        continue
print('Null Value Number Counts')
print(myData[attribute].isnull().sum())

Null Value Number Counts
454

### group by Merchnum

In [127]:
def f_mode (x):
    return x.value_counts().index[0]

valid_dataframe = valid_index[[attribute, 'Merchnum']].copy()
temp = valid_dataframe.groupby(['Merchnum']).agg(f_mode).copy()
temp.head(5)

               Merch zip
Merchnum
0                48602.0
003100006NOT6    41011.0
004740006ABC6    82520.0
005590006PNB6    80439.0
014430619  14    90502.0

In [128]:
for i in myData[myData[attribute].isnull() == True].index:
    try:
        temp_Merchnum = myData.loc[i,'Merchnum']
        myData.loc[i, attribute] = temp.loc[temp_Merchnum,attribute]
    except:
        continue
print('Null Value Number Counts')
print(myData[attribute].isnull().sum())

Null Value Number Counts
454

### group by Merch description

In [129]:
def f_mode (x):
    return x.value_counts().index[0]

valid_dataframe = valid_index[[attribute, 'Merch description']].copy()
temp = valid_dataframe.groupby(['Merch description']).agg(f_mode).copy()
temp.head(5)

                        Merch zip
Merch description
#9 SOFTWARE               23663.0
(ISC)2 CERTIFICATION       1545.0
0000000000000000000000    98052.0
033007 KINKO'S            27713.0
05032 FLYING J            87105.0

In [130]:
for i in myData[myData[attribute].isnull() == True].index:
    try:
        temp_Merch_description = myData.loc[i,'Merch description']
        myData.loc[i, attribute] = temp.loc[temp_Merch_description,attribute]
    except:
        continue
print('Null Value Number Counts')
print(myData[attribute].isnull().sum())

Null Value Number Counts
454

### group by Cardnum

In [131]:
def f_mode (x):
    return x.value_counts().index[0]

valid_dataframe = valid_index[[attribute, 'Cardnum']].copy()
temp = valid_dataframe.groupby(['Cardnum']).agg(f_mode).copy()
temp.head(5)

            Merch zip
Cardnum
5142110002    22202.0
5142110081    98032.0
5142110402    21090.0
5142110434    46032.0
5142110651    30091.0

In [132]:
for i in myData[myData[attribute].isnull() == True].index:
    try:
        temp_Cardnum = myData.loc[i,'Cardnum']
        myData.loc[i, attribute] = temp.loc[temp_Cardnum,attribute]
    except:
        continue
print('Null Value Number Counts')
print(myData[attribute].isnull().sum())

Null Value Number Counts
31

## Merch state(group by Merch zip or Merchnum)

### group by Merch zip

In [133]:
attribute = 'Merch state'

print('Describe')
print(myData[attribute].describe())

print('Value Counts')
print(myData[attribute].value_counts().index[0:6])

print('Null Value Number Counts')
print(myData[attribute].isnull().sum())

Describe
count     96274
unique      227
top          TN
freq      12038
Name: Merch state, dtype: object
Value Counts
Index(['TN', 'VA', 'CA', 'IL', 'MD', 'GA'], dtype='object')
Null Value Number Counts
479

In [134]:
valid_index = myData[myData[attribute].isnull() == False].copy()
print('Null Value Number Counts')
print(myData[attribute].isnull().sum())

Null Value Number Counts
479

In [135]:
def f_mode (x):
    return x.value_counts().index[0]

valid_dataframe = valid_index[[attribute, 'Merch zip']].copy()
temp = valid_dataframe.groupby(['Merch zip']).agg(f_mode).copy()
temp.head(5)

          Merch state
Merch zip
1.0                PA
2.0                VA
3.0                GA
5.0                IA
6.0                IL

In [136]:
for i in myData[myData[attribute].isnull() == True].index:
    try:
        temp_Merch_zip = myData.loc[i,'Merch zip']
        myData.loc[i, attribute] = temp.loc[temp_Merch_zip,attribute]
    except:
        continue
print('Null Value Number Counts')
print(myData[attribute].isnull().sum())

Null Value Number Counts
97

### group by Merchnum

In [137]:
def f_mode (x):
    return x.value_counts().index[0]

valid_dataframe = valid_index[[attribute, 'Merchnum']].copy()
temp = valid_dataframe.groupby(['Merchnum']).agg(f_mode).copy()
temp.head(5)

              Merch state
Merchnum
0                      MI
003100006NOT6          KY
004740006ABC6          WY
005590006PNB6          CO
014430619  14          CA

In [138]:
for i in myData[myData[attribute].isnull() == True].index:
    try:
        temp_Merchnum = myData.loc[i,'Merchnum']
        myData.loc[i, attribute] = temp.loc[temp_Merchnum,attribute]
    except:
        continue
print('Null Value Number Counts')
print(myData[attribute].isnull().sum())

Null Value Number Counts
97

### group by Merch description

In [139]:
def f_mode (x):
    return x.value_counts().index[0]

valid_dataframe = valid_index[[attribute, 'Merch description']].copy()
temp = valid_dataframe.groupby(['Merch description']).agg(f_mode).copy()
temp.head(5)

                       Merch state
Merch description
#9 SOFTWARE                     VA
(ISC)2 CERTIFICATION            MA
0000000000000000000000          WA
033007 KINKO'S                  NC
05032 FLYING J                  NM

In [140]:
for i in myData[myData[attribute].isnull() == True].index:
    try:
        temp_Merch_description = myData.loc[i,'Merch description']
        myData.loc[i, attribute] = temp.loc[temp_Merch_description,attribute]
    except:
        continue
print('Null Value Number Counts')
print(myData[attribute].isnull().sum())

Null Value Number Counts
97

### group by Cardnum

In [141]:
def f_mode (x):
    return x.value_counts().index[0]

valid_dataframe = valid_index[[attribute, 'Cardnum']].copy()
temp = valid_dataframe.groupby(['Cardnum']).agg(f_mode).copy()
temp.head(5)

           Merch state
Cardnum
5142110002          VA
5142110081          WA
5142110402          CO
5142110434          IN
5142110651          GA

In [142]:
for i in myData[myData[attribute].isnull() == True].index:
    try:
        temp_Cardnum = myData.loc[i,'Cardnum']
        myData.loc[i, attribute] = temp.loc[temp_Cardnum,attribute]
    except:
        continue
print('Null Value Number Counts')
print(myData[attribute].isnull().sum())

Null Value Number Counts
31

## Merchnum

### group by Merch zip

In [143]:
attribute = 'Merchnum'

print('Describe')
print(myData[attribute].describe())

print('Value Counts')
print(myData[attribute].value_counts().index[0:6])

print('Null Value Number Counts')
print(myData[attribute].isnull().sum())

Describe
count            96345
unique           13091
top       930090121224
freq              9311
Name: Merchnum, dtype: object
Value Counts
Index(['930090121224', '5509006296254', '9900020006406', '602608969534',
       '4353000719908', '410000971343'],
      dtype='object')
Null Value Number Counts
408

In [144]:
valid_index = myData[myData[attribute].isnull() == False].copy()
print('Null Value Number Counts')
print(myData[attribute].isnull().sum())

Null Value Number Counts
408

In [145]:
def f_mode (x):
    return x.value_counts().index[0]

valid_dataframe = valid_index[[attribute, 'Merch zip']].copy()
temp = valid_dataframe.groupby(['Merch zip']).agg(f_mode).copy()
temp.head(5)

                Merchnum
Merch zip
1.0        9341690509209
2.0        9900020006406
3.0         602608969534
5.0        4620000731201
6.0        5725000466504

In [146]:
for i in myData[myData[attribute].isnull() == True].index:
    try:
        temp_Merch_zip = myData.loc[i,'Merch zip']
        myData.loc[i, attribute] = temp.loc[temp_Merch_zip,attribute]
    except:
        continue
print('Null Value Number Counts')
print(myData[attribute].isnull().sum())

Null Value Number Counts
49

### group by Merch state

In [147]:
valid_index = myData[myData[attribute].isnull() == False].copy()
print('Null Value Number Counts')
print(myData[attribute].isnull().sum())

Null Value Number Counts
49

In [148]:
def f_mode (x):
    return x.value_counts().index[0]

valid_dataframe = valid_index[[attribute, 'Merch state']].copy()
temp = valid_dataframe.groupby(['Merch state']).agg(f_mode).copy()
temp.head(5)

            Merchnum
Merch state
005                0
016                0
022                0
040                0
042                0

In [149]:
for i in myData[myData[attribute].isnull() == True].index:
    try:
        temp_Merch_state = myData.loc[i,'Merch state']
        myData.loc[i, attribute] = temp.loc[temp_Merch_state,attribute]
    except:
        continue
print('Null Value Number Counts')
print(myData[attribute].isnull().sum())

Null Value Number Counts
31

### group by Merch description

In [150]:
def f_mode (x):
    return x.value_counts().index[0]

valid_dataframe = valid_index[[attribute, 'Merch description']].copy()
temp = valid_dataframe.groupby(['Merch description']).agg(f_mode).copy()
temp.head(5)

                             Merchnum
Merch description
#9 SOFTWARE             6000330882278
(ISC)2 CERTIFICATION        590065510
0000000000000000000000  8168600400097
033007 KINKO'S            35068136338
05032 FLYING J          121075089FL96

In [151]:
for i in myData[myData[attribute].isnull() == True].index:
    try:
        temp_Merch_description = myData.loc[i,'Merch description']
        myData.loc[i, attribute] = temp.loc[temp_Merch_description,attribute]
    except:
        continue
print('Null Value Number Counts')
print(myData[attribute].isnull().sum())

Null Value Number Counts
31

### group by Cardnum

In [152]:
def f_mode (x):
    return x.value_counts().index[0]

valid_dataframe = valid_index[[attribute, 'Cardnum']].copy()
temp = valid_dataframe.groupby(['Cardnum']).agg(f_mode).copy()
temp.head(5)

                 Merchnum
Cardnum
5142110002  9900020006406
5142110081  4503082412500
5142110402  8849060059968
5142110434  8292309000040
5142110651   602608969534

In [153]:
for i in myData[myData[attribute].isnull() == True].index:
    try:
        temp_Cardnum = myData.loc[i,'Cardnum']
        myData.loc[i, attribute] = temp.loc[temp_Cardnum,attribute]
    except:
        continue
print('Null Value Number Counts')
print(myData[attribute].isnull().sum())

Null Value Number Counts
31

In [165]:
myData.to_csv('cleanData1-yifeng.csv')